<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pushe.qiongyou" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Slpash"
            android:label="@string/title_activity_slpash" >
        </activity>
        <activity
            android:name=".MySYActivity"
            android:label="@string/title_activity_my_qy" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name=".MySerachActivity"
            android:label="@string/title_activity_my_serach" >
        </activity>
        <activity
            android:name=".ContainerActivity"
            android:label="@string/title_activity_container" >
        </activity>
        <activity
            android:name=".SearchDetailsActivity"
            android:label="@string/title_activity_search_details" >
        </activity>
        <activity
            android:name=".SearchTieZiToWebActivity"
            android:label="@string/title_activity_search_tie_zi_to_web" >
        </activity>
    </application>

</manifest>
